extends base

block content
    .conatiner.overviewCont
        .row_alertlogout(style="display:none; margin-top:100px; margin-bottom:50px; height:50px; opacity:0.6; text-align:-webkit-center")
        .row
            each tour in tours
                .col-md-4.customCol
                    .cardStart
                        .name(style=`background-image:url(/img/${tour.imageCover})`)
                            .contents
                        h5.nameTour= tour.name
                        .card-body
                            
                            .collectionDiv
                                h6.difficultCard
                                    b= `Difficulty - ${tour.difficulty}`
                                p.card-text.summaryCard= tour.summary
                                h6.priceTour= `₹ ${tour.price}`
                                p.ratingTour
                                    b.rating= tour.ratingsAverage
                                    | 
                                    span.quantity= `rating (${tour.ratingsQuantity})`
                                .row.innerRows
                                    .col-md-6(style="text-align:left;float:left;")
                                        img.actionImages(src="/img/pin.png", alt="")
                                        p.location= tour.startLocation.description
                                    .col-md-6(style="text-align:left;float:left;")
                                        img.actionImages(src="/img/calendar.png", alt="")
                                        p.date= tour.startDates[0].toLocaleString('en-us', {month: 'long', year: 'numeric'})
                                .row.innerRows
                                    .col-md-6(style="text-align:left;float:left;")
                                        img.actionImages(src="/img/team.png", alt="")
                                        p.location= `${tour.maxGroupSize} people`
                                    .col-md-6(style="text-align:left;float:left;")
                                        img.actionImages(src="/img/mission.png", alt="")
                                        p.location= `${tour.locations.length} stops`
                                  
                            a.btn.btndetail(href=`/tour/${tour.slug}`) Details
        .row.filterRow
            .col-md-5.filterDiv
                label(for="tourName") Search Tour
                input#tourName(type="text", name="tourName", style="width:60%; margin:20px", placeholder="Tour Name")
                button.submitFilters.btn.btn-dark Search

