extends base

block content
    .row_alertlogout(style="display:none; margin-top:100px; margin-bottom:50px; height:50px; opacity:0.6; text-align:-webkit-center")
    h2(style="margin-top: 90px; text-align:center") Your Reviews
    - if (reviews.length != 0)
        each review in reviews 
            .card-myReviews
                .container
                    .row
                        .col-md-3(style="margin-top: 30px;")
                            img.userImg(src=`/img/users/${review.user.photo}` alt="")
                        .col-md-6(style="margin-top: 40px; text-align: center;")
                            span(style='color: white; font-size:large;')= review.user.firstName
                    .row(style="margin-top:20px")
                        .col(style="color: white;")= review.review
                    .row
                        .col(style="margin-top:20px")
                            each star in [1,2,3,4,5]
                                span.fa.fa-star.star-icon(class=`${review.rating >= star ? 'checked' : 'inactive'}`)
                    .row(style="margin-top:20px")
                        .col
                            h6(style="color:white")= review.tour.name
                    .row(style="margin-top:20px")
                        .col
                            h6(style="color:white")= review.createdAt.toLocaleString('en-us', { day: 'numeric', month: 'long', year: 'numeric'})
    - else
        .container
            br
            br
            .row
                h4 No Reviews, please book a tour and provide a review
            .row
                a.BookTourNow(href="/") Book Now